body,
html {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Great Vibes", "cursive"; */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h1,
h2,
h3,
h4 {
  /* font-family: "Great Vibes", "cursive"; */
  font-family: "Raleway", sans-serif;
}
h2 {
  /* text-transform: uppercase; */
  margin: 0 0 20px 0;
  font-weight: 550;
  font-size: 40px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

.fa {
  font-family: "FontAwesome" !important;
}
p {
  /* font-family: "Great Vibes", "cursive"; */
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #555;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #ffffff;
  /* background-color: #7395ae; */

  /* background-color: #2e9cca; */

  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Great Vibes", "cursive"; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  /* color: #25274d; */
  /* color: #494b68; */

  /* text-transform: uppercase; */
}
#menu.navbar-default .navbar-nav > li > a {
  /* font-family: "Lato", sans-serif; */
  /* text-transform: uppercase; */
  /* font-family: "Great Vibes", "cursive"; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Open Sans", sans-serif;
  /* color: #25274d; */
  /* color: #494b68; */
  color: #25274d;
  font-size: 25px;
  font-weight: 500;
  /* padding: 8px 2px; */
  padding: 8px 5px;
  border-radius: 0;
  margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  /* margin-left: -92px; */
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn-primary {
  /* font-family: "Roboto", sans-serif */
  font-family: "Open Sans", sans-serif;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* FrontPage Section */

#FrontPage {
  padding: 0px;
  overflow-x: hidden;
}
#FrontPage .h4 {
  text-transform: lowercase !important;
  font-weight: 700;
  line-height: 20px; 
}

#FrontPage .img-responsive {
  position: center;
  height: 200px;
}

#SelfCheckIn {
  padding: 0px;
  overflow-x: hidden;
}

#SelfCheckIn .img-responsive {
  margin: 0 auto;
  position: relative;
  height: 150px;
}

#inputform {
  padding: 0px;
  overflow-x: hidden;
}

#inputform .img-responsive {
  margin: 0 auto;
  position: relative;
  height: 150px;
}

#inputform .btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  /* border-radius: 10px; */
  width:35%;
  height: 6%;
  color: #000;
}

#inputreferenceno .h1font {
  font-size: 50px;
    font-weight: bold;
    color: mediumblue
}


#verification {
  padding: 0px;
  overflow-x: hidden;
}

#verification .img-responsive {
  margin: 0 auto;
  position: relative;
  height: 150px;
}

#verification .big {
  position: center;
  height: 200px;
}

#verification .btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  /* border-radius: 10px; */
  width:35%;
  height: 6%;
  color: #000;
}

#identityscanner {
  padding: 0px;
  overflow-x: hidden;
}

#identityscanner .img-responsive {
  margin: 0 auto;
  position: relative;
  height: 150px;
}

#identityscanner .big {
  margin: 0 auto;
  position: relative;
  height: 350px;
}

#identityscanner .h1 {
  font-size: 56px;
  color: mediumblue;
}

#identityscanner .btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  /* border-radius: 10px; */
  width:35%;
  height: 6%;
  color: #000;
}

#paymentverify {
  padding: 0px;
  overflow-x: hidden;
}

#paymentverify .img-responsive {
  margin: 0 auto;
  position: relative;
  height: 150px;
}

#paymentverify .big {
  margin: 0 auto;
  position: relative;
  height: 350px;
}

#paymentverify .h1 {
  font-size: 56px;
  color: mediumblue;
}

#paymentverify .btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  /* border-radius: 10px; */
  width:35%;
  height: 6%;
  color: #000;
}

#completeprocess {
  padding: 0px;
  overflow-x: hidden;
}

#completeprocess .btn-xl{
  padding: 10px 20px;
  font-size: 20px;
  /* border-radius: 10px; */
  width:78%;
  height: 6%;
  color: #000;
  position: relative;
  top: 1em;
}

#completeprocess .h1 {
  font-size: 56px;
  color: mediumblue;
}

#completeprocess .box {
  /* width: 180px; */
  height: 50%;
  /* background: black; */
  margin: 20px 50px;
}

#completeprocess .inner-outline {
  outline: 4px solid #999;
  outline-offset: 0px;
}

/* #completeprocess .inner-strip {
  outline: 4px solid #999;
  outline-offset: -10px;
} */

#completeprocess .strip {
  background-color: dodgerblue;
  padding: 5px;
}

#completeprocess .h3 {
  color: black;
  font-size: 29px;
  position: relative;
  top: -11px;
}

#completeprocess .outline {
  outline: 2px solid dodgerblue;
  outline-offset: 15px;
  position: relative;
  left: 1em;
  width: 95%;
  height: 10%
}

#completeprocess .outline1 {
  outline: 2px solid dodgerblue;
  outline-offset: 15px;
  position: relative;
  left: 1em;
  top:19px;
  width: 95%;
  height: 10%
}

#completeprocess .pos {
 position: relative;
 top: -1em;
}

/* 
#inputreferenceno .colorstrip {   
  height: 30px;
  border-style: solid;
  border-color: white;
  background-color: lightgrey;
} */

/* Header Section */

.intro .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/* My Code */

.intro h1 {
  font-family: "Great Vibes", "cursive";
  color: #fff;
  font-size: 78px;
  /* text-shadow: 1px 1px 5px; */
  font-weight: 300;
  /* text-transform: uppercase; */
  position: relative;
  text-align: justify;
  margin-top: 4em;
  /* margin-left: 1em; */
}
.intro h3 {
  font-family: "Great Vibes", "cursive";
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  position: relative;
  margin-top: 0em;
  margin-left: 2em;
}

.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}

.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 72px;
  text-shadow: 1px 1px 2px;
  font-weight: 700;
  /* text-transform: uppercase; */
  /* padding-top: 400px; */
  /* padding-bottom: 200px; */
  /* padding-right: 50px; */
  text-align: center;
}

header {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  /* text-transform: uppercase; */
}

/* CSS for newly restructured  code */
/* Display Section */

#display {
  overflow-x: hidden;
}

.section-title {
  margin-bottom: 20px;
}
.btn-primary {
  margin-left: -30px;
}

#display i.fa {
  font-size: 50px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #555;
  width: 100px;
  height: 100px;
  padding: 0px 0;
  border-radius: 50%;
}

/* Display Section Ends Here */


#NewFeature {
  background-image: url("../img/new dna 1.jpg");
  /* background-image: url("../img/part 1.jpg"); */
  /* background-image: url("../img/Section 1.jpg"); */
  /* height: 834px; */
  background-position: center;
  height: 363px;
  /* height: 400px; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-color: #deedfd; */
}
#NewFeature .feature {
  /* background-color: rgb(201, 229, 149); */
  /* background-color: 84ceeb; */
  background-color: #c1c8e4;
  /* background-color: #7395ae; */

  height: 300px;
  /* margin-top: -3em; */
  border-radius: 2px;
}

/* #NewFeature .height {
  height: 70%;
} */
#NewFeature .card {
  padding-top: 7em;
}

#NewFeature .h2 {
  font-family: "Great Vibes", "cursive";
  font-weight: 100;
}

#NewService {
  /* background-image: url("../img/part 2.jpg"); */
  background-image: url("../img/new dna 2.jpg");
  background-position: center;
  height: 363px;
  /* height: 400px; */

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-color: azure; */
}

#NewService .service {
  /* background-color: rgb(156, 211, 178); */
  /* background-color: #c1c8e4; */
  /* background-color: 84ceeb; */
  background-color: #b1a297;

  height: 300px;
  /* margin-top: -3em; */
  border-radius: 2px;
}
/* #NewService .height {
  height: 70%;
} */
#NewService .card {
  padding-top: 7em;
}

#NewAbout {
  background-image: url("../img/new dna 3.jpg");
  /* background-image: url("../img/part 3.jpg"); */

  background-position: center;
  height: 362px;
  /* height: 400px; */

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#NewAbout .about {
  /* background-color: rgb(175, 211, 108); */
  /* background-color: #5ab9ea; */
  /* background-color: #2d5f5d; */
  /* background-color: #376e6f; */
  /* background-color: #66fcf1; */
  background-color: #c5c6c7;

  height: 300px;
  /* margin-top: -3em; */
  border-radius: 2px;
}

/* #NewAbout .height {
  height: 70%;
} */

#NewAbout .aboutcard {
  padding-top: 4em;
}

#NewAbout .card {
  padding-top: 48px;
}

#NewTestimonial {
  background-image: url("../img/new dna 4.jpg");
  /* background-image: url("../img/part 4.jpg"); */

  background-position: center;
  /* height: 511.59px; */
  height: 363px;
  /* height: 400px; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#NewTestimonial .img {
  /* height: 500px; */
  width: 520px;
}

#NewTestimonial .testimonials {
  /* background-color: rgb(165, 221, 187); */
  /* background-color: #45a29e; */
  /* background-color: #5da2d5; */
  background-color: #84ceeb;

  height: 300px;
  /* margin-top: -3em; */
  border-radius: 2px;
}

/* #NewTestimonial .height {
  height: 90%;
} */

#NewTestimonial .card {
  padding-top: 7em;
}

/* CSS for newly restructured code Ends here. */

/* Feature Card  SECTION START FROM HERE*/

#featurecard {
  padding: 0px;
  overflow-x: hidden;
  /* background-color: #5ca9fb; */
  background-image: url("../img/Section 4.png");
  /* height: 438px; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#featurecard .row {
  margin-top: 3em;
  margin-bottom: 3em;
}

#featurecard .cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#featurecard .card {
  background: rgb(45, 36, 177);
  width: 90%;
  height: 40%;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;

  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

#featurecard .card:hover {
  transform: scale(1.1);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

#featurecard .card-body {
  padding: 1.2em;
  transform-style: preserve-3d;
}

#featurecard .card h2 {
  color: rgb(250, 244, 244);
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

#featurecard .card h3 {
  color: #fff;
  /* margin-top: -0.2em;
  line-height: 1.4; */
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
  position: relative;
  left: 3.6em;
}

#featurecard i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: rgb(30, 18, 204);
  width: 100px;
  height: 100px;
  padding: 30px 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  left: 1.5em;
}

/* ABOUT CARD SECTION BEGINS HERE */

#aboutcard {
  padding: 50px 0;
  background-image: url("../img/about background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#aboutcard .row {
  margin-top: 3em;
}

#aboutcard h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
}
#aboutcard h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#aboutcard .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#aboutcard .about-text li:before {
  content: "\f00c";
  /* font-family: "Great Vibes", "cursive"; */
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#aboutcard img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#aboutcard p {
  line-height: 24px;
  margin: 30px 0;
}

#aboutcard .ula {
  font-family: "Roboto", sans-serif;
  color: #000;
}

/* ABOUT CARD SECTION ENDS HERE */

/* This is SERVICESCARD Section */

#servicescard {
  padding: 0px;
  overflow-x: hidden;
}

#servicescard .row {
  margin-top: 3em;
  margin-bottom: 3em;
}

#servicescard .service-desc {
  margin: 10px 10px 20px;
}

#servicescard i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#servicescard .service-desc {
  margin-bottom: 40px;
}

#servicescard .cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* This is Divyam's Code */

#servicescard .cardHoverTrigger {
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
}

#servicescard .card-figure {
  position: relative;
  top: 0;
  left: 0;
  margin: 1em;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

#servicescard .card-image {
  width: 100%;
  border-radius: 10px;

  object-fit: cover;
}

#servicescard.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #28bbff;
  color: #000;
}

#servicescard .container {
  width: 100%;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
#servicescard .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  padding: 1.2em;
  background-color: rgb(45, 36, 177);
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
  padding: 1.2em;
}

.card-figure:hover {
  transform: rotateY(180deg);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

/* Upto this */

#servicescard .card:hover {
  transform: rotateY(180deg);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

#servicescard p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff !important;
}

#servicescard .card-figure {
  transform-style: preserve-3d;
}

/* HERE IT ENDS */
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
  /* background: #7fb4f0; */
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Testimonialscard section starts here */

#testimonialscard {
  padding: 0px;
  overflow-x: hidden;
}

#testimonialscard .row {
  margin-top: 3em;
  margin-bottom: 3em;
}

#testimonialscard i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonialscard {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;

  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Testimonialscard ends here */

/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0 0;
  color: #888;
}

/* Registration Section */

#loginsignup {
  background: #c9e0fa;
  padding-top: 1;
}
#register .section-title h2::after {
  position: absolute;
  content: "";
  background: #000;
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.login-card {
  min-height: 60vh;
  margin-left: 400px;
}

.registerMessage {
  margin-top: 10vh;
}
.loginText {
  color: #007bff;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.form-group .mt-2 .registerMessage .form-check {
  font-family: "Raleway", sans-serif;
}

.reglabel {
  font-family: "Raleway", sans-serif;
}

.btn-primary {
  border-radius: 10px;
}
.register-card {
  margin-left: 400px;
}

.form-control {
  border-radius: 10px;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: rgba(255, 255, 255, 0.75);
}

#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 20px;
  color: #fff;
}
#contact .divyam {
  /* font-family: "Great Vibes", "cursive"; */
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 25px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}


